#1.What are data structures, and why are they important?

**Ans:** Data structures are specialized formats for organizing and storing data in a computer, enabling efficient access and modification. They are important because they allow us to manage and manipulate data effectively, leading to more efficient algorithms and programs. For example, a well-chosen data structure can make a program run faster and use less memory

#2. Explain the difference between mutable and immutable data types with examples.

**Ans:**Mutable data types can be changed after they are created, while immutable data types cannot.

**Mutable Example:** A list is mutable. You can add, remove, or change elements in a list after it's been created.

    my_list = [1, 2, 3]
my_list.append(4) # The list is modified
print(my_list) # Output: [1, 2, 3, 4]


**Immutable Example:** A string is immutable. If you try to change a character in a string, you'll actually create a new string in memory.

     my_string = "hello"
**# my_string[0] = "H" #** This will raise a TypeError
new_string = "H" + my_string[1:] # A new string is created
print(new_string) # Output: "Hello"

#3. What are the main differences between lists and tuples in Python?

**Ans:** The main difference is mutability. Lists are mutable, meaning their elements can be changed, added, or removed. Tuples are immutable, so their elements cannot be changed after creation. This makes tuples useful for storing data that shouldn't be altered, like coordinates or database records. Lists are good for data that needs to be flexible and dynamic

#4. Describe how dictionaries store data

**Ans:** Dictionaries store data as key-value pairs. Each unique key is used to access its corresponding value. Think of it like a physical dictionary where the "key" is the word you look up, and the "value" is its definition. Keys must be immutable data types (like strings, numbers, or tuples) to be hashable, which allows for fast lookups

#5. Why might you use a set instead of a list in Python?

**Ans:** You'd use a set when you need a collection of unique items and the order doesn't matter. Sets automatically handle duplicate values, only storing one instance of each. They also offer very fast membership testing (checking if an item is in the set), which is much faster than doing the same with a list for large datasets

#6. What is a string in Python, and how is it different from a list?

**Ans:** **Content**: A string can only contain characters, while a list can hold any data type (integers, strings, even other lists).

**Mutability:** Strings are immutable (cannot be changed), whereas lists are mutable (can be changed)

#7. How do tuples ensure data integrity in Python?

**Ans:** Tuples ensure data integrity because they are immutable. Once a tuple is created, its elements cannot be changed, removed, or added. This prevents accidental modification of the data, guaranteeing that it remains in its original state throughout the program's execution.

#8. What is a hash table, and how does it relate to dictionaries in Python?

**Ans:** A hash table (also known as a hash map) is a data structure that implements an associative array or dictionary. It maps keys to values. Python's dictionaries are implemented using hash tables. This implementation is why dictionary lookups are so fast: a hash function is used to convert the key into a unique "hash" or index, which points directly to the memory location where the corresponding value is stored.

#9. Can lists contain different data types in Python?

**Ans:** Yes, lists in Python can contain different data types. They are heterogeneous, meaning a single list can hold a mix of integers, strings, floats, and even other complex data structures like lists or dictionaries.

#10. Explain why strings are immutable in Python

**Ans:** Strings are immutable in Python primarily for efficiency and security. Since they can't be changed, Python can make certain optimizations, like sharing a single string in memory across multiple variables. Immutability also makes strings "hashable," allowing them to be used as keys in dictionaries, which is not possible with mutable types like lists. This also prevents accidental modification and helps with thread safety.

#11. What advantages do dictionaries offer over lists for certain tasks?

**Ans:** Dictionaries offer a significant advantage for tasks that require fast data retrieval based on a key. While lists require you to iterate through elements to find a specific value (a linear search), dictionaries can access values directly using their key, which is much faster (close to constant time, O(1)). This makes them ideal for tasks like counting frequencies, storing user profiles, or mapping IDs to names.

#12. Describe a scenario where using a tuple would be preferable over a list.

**Ans:** A good scenario for using a tuple is when you need to store fixed, unchangeable data, like the coordinates of a point (x,y). For example, if you're writing a game and want to store the positions of static objects on a map, a tuple (10, 25) is a perfect choice. Since the coordinates shouldn't change, using a tuple ensures data integrity and communicates to other programmers that the data is not meant to be modified.

#13. How do sets handle duplicate values in Python?

**Ans:** Sets automatically eliminate duplicate values. When you add an item to a set that already exists, the set simply ignores the new addition. This makes sets perfect for tasks like finding all the unique items in a list or quickly removing duplicates from a dataset.

#14. How does the "in" keyword work differently for lists and dictionaries?

**Ans:** The in keyword checks for membership.

For lists, item in my_list checks if the item is one of the values in the list. This is a linear search, which can be slow for large lists.

For dictionaries, key in my_dict checks if the key is present in the dictionary's keys. This is a very fast, constant-time operation because of how dictionaries are implemented using hash tables.

#15. Can you modify the elements of a tuple? Explain why or why not.

**Ans:**No, you cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its contents are fixed. Any attempt to change an element will result in an error. This immutability is the key characteristic that distinguishes a tuple from a list.

#16. What is a nested dictionary, and give an example of its use case?

**Ans:** A nested dictionary is a dictionary where the values are themselves other dictionaries. A great use case is storing structured data, like a database of user information.

In [1]:
# Example of a nested dictionary for user data
users = {
    "john_doe": {
        "email": "john.doe@example.com",
        "age": 30,
        "city": "New York"
    },
    "jane_smith": {
        "email": "jane.smith@example.com",
        "age": 25,
        "city": "London"
    }
}

#17. Describe the time complexity of accessing elements in a dictionary.

**Ans:** The average time complexity of accessing elements in a dictionary is O(1) (constant time). This is because dictionaries are implemented with hash tables, which allow direct, almost instantaneous access to a value once its key is known. In the worst-case scenario (due to hash collisions), it can degrade to O(n), but this is rare in practice with good hash functions.

#18. In what situations are lists preferred over dictionaries?

**Ans:**
1.The order of elements matters. Lists maintain insertion order, whereas dictionaries were traditionally unordered (though modern Python versions preserve insertion order).

2.You need to store a sequence of items and access them by their position or index.

3.You have duplicate items that you want to store and maintain.

#19. Why are dictionaries considered unordered, and how does that affect data retrieval?

**Ans:** Prior to Python 3.7, dictionaries were considered unordered because they were based on a hash table implementation that did not preserve the order of key-value pairs. This meant that the order in which you inserted items was not guaranteed to be the same as the order in which they were retrieved. For data retrieval, this simply meant that you could not rely on an index or position; you had to use the key to access the value. Since Python 3.7, dictionaries are ordered by default, meaning they preserve the insertion order of keys.

#20. Explain the difference between a list and a dictionary in terms of data retrieval.

**Ans:**

**List Retrieval:**Data is retrieved by its numerical index (position in the sequence), starting from 0. Accessing a value requires knowing its position.

**Dictionary Retrieval:** Data is retrieved by its key. Accessing a value requires knowing its unique key. This is a much more direct and efficient method for retrieving data when the position is not relevant.

**Practical Questions**

In [2]:
# 1. Create a string with your name and print it
name = "Venu Madhava Reddy"
print(name)

Venu Madhava Reddy

In [3]:
# 2. Find the length of the string "Hello World"
s = "Hello World"
print(len(s))

11

In [4]:
# 3. Slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
print(text[:3])

Pyt

In [5]:
# 4. Convert the string "hello" to uppercase
word = "hello"
print(word.upper())

HELLO

In [6]:
# 5. Replace the word "apple" with "orange" in the string "I like apple"
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [7]:
# 6. Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
# 7. Append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [9]:
# 8. Remove the number 3 from the list [1,2,3,4,5]
lst2 = [1, 2, 3, 4, 5]
lst2.remove(3)
print(lst2)

[1, 2, 4, 5]

In [10]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
chars = ['a', 'b', 'c', 'd']
print(chars[1])

b

In [11]:
# 10. Reverse the list [10, 20, 30, 40, 50]
nums = [10, 20, 30, 40, 50]
nums.reverse()
print(nums)

[50, 40, 30, 20, 10]

In [12]:
# 11. Create a tuple with the elements 100, 200, 300 and print it
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [13]:
# 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [14]:
# 13. Find the minimum number in the tuple (10, 20, 5, 15)
nums = (10, 20, 5, 15)
print(min(nums))

5

In [15]:
# 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [16]:
# 15. Create a tuple with fruits and check if "kiwi" is in it
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

In [17]:
# 16. Create a set with the elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

In [18]:
# 17. Clear all elements from the set {1, 2, 3, 4, 5}
s1 = {1, 2, 3, 4, 5}
s1.clear()
print(s1)

set()

In [19]:
# 18. Remove the element 4 from the set {1, 2, 3, 4}
s2 = {1, 2, 3, 4}
s2.remove(4)
print(s2)

{1, 2, 3}

In [20]:
# 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [21]:
# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
x = {1, 2, 3}
y = {2, 3, 4}
print(x.intersection(y))

{2, 3}

In [22]:
# 21. Create a dictionary with keys "name", "age", "city" and print it
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [23]:
# 22. Add a new key-value pair "country": "USA" to dictionary
d = {"name": "John", "age": 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
# 23. Access the value associated with "name"
d2 = {"name": "Alice", "age": 30}
print(d2["name"])

Alice

In [25]:
# 24. Remove the key "age" from the dictionary
d3 = {"name": "Bob", "age": 22, "city": "New York"}
d3.pop("age")
print(d3)

{'name': 'Bob', 'city': 'New York'}

In [26]:
# 25. Check if the key "city" exists in dictionary
d4 = {"name": "Alice", "city": "Paris"}
print("city" in d4)

True

In [27]:
# 26. Create a list, tuple, and dictionary, and print them all
lst = [1, 2, 3]
tpl = (4, 5, 6)
dic = {"a": 10, "b": 20}
print(lst, tpl, dic)

[1, 2, 3] (4, 5, 6) {'a': 10, 'b': 20}

In [28]:
# 27. Create a list of 5 random numbers between 1 and 100, sort, and print
import random
rand_list = random.sample(range(1, 101), 5)
rand_list.sort()
print(rand_list)

[17, 55, 65, 68, 75]

In [29]:
# 28. Create a list with strings and print the element at the third index
str_list = ["apple", "banana", "cherry", "date", "kiwi"]
print(str_list[3])

date

In [30]:
# 29. Combine two dictionaries into one and print
d5 = {"a": 1, "b": 2}
d6 = {"c": 3, "d": 4}
d7 = {**d5, **d6}
print(d7)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [31]:
# 30. Convert a list of strings into a set
strs = ["apple", "banana", "apple", "mango"]
print(set(strs))

{'apple', 'banana', 'mango'}